body
    margin: 0
    font-family: 'Roboto'

main
    height: 1325px
    background-color: #f6f6f6

footer
    height: 200px
    background-color: #353535
.fa-solid
    font-size: 15px
    text-align: center

.fa-stack
    width: 25px
    height: 22px
    text-align: center
    color: #7e7e7e

.fa-location-dot    
    width: 100%
    

.fa-mobile-screen-button
    width: 20%
    height: 20px
    font-size: 25px
    color: #7e7e7e
.fa-1
    font-size: 15px
.circle_one
    width: 10%
.fa-ellipsis-vertical
    width: 0
    font-size: 20px

.fa-bars
    width: 20px
    font-size: 20px
.fa-2
    font-size: 15px
.fa-store
    width: 80px
    font-size: 23px
    color: #9356DC
.fa-3
    font-size: 15px
.fa-circle
    font-size: 15px

.fa-heart
    width: 80%
    height: 31px
    font-size: 31px
    text-align: right
    position: absolute
    padding-top: 23px

.fa-utensils
    width: 25px
    text-align: start

.fa-handshake-angle
    width: 25px
    text-align: start

.loader 
    border: 8px solid #f3f3f3
    border-top: 8px solid #3498db
    border-radius: 50%
    width: 50px
    height: 50px
    animation: spin 2s linear forwards


@keyframes spin 
    0% 
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.loader_container 
    display: none
    text-align: center


.loader_container:before 
    content: ""
    display: block
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #fff
    z-index: 9998
    animation: hideContent 2s ease-out forwards


@keyframes hideContent 
    to 
        opacity: 0
        visibility: hidden
    


@keyframes showContent 
    from 
        opacity: 0
        visibility: hidden
    
    to 
        opacity: 1
        visibility: visible
    


.logo 
    width: 100%
    height: 65px
    display: flex
    justify-content: center
    
.img_logo
    width: 35%
   
.location
    width: 100%
    height: 50px
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-content: center
    background: #EAEAEA
    box-shadow: 0px 0px 5px -1px black
    font-weight: 500

.location_text
    font-size: 15px
    font-weight: 500
    margin: 0

.nav 
    width: 100%
    height: 245px
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    text-align: center
    background: #f6f6f6

.nav_title
    width: 80%
    height: 5px
    font-size: 24px
    font-weight: 900
    margin: 0
    padding-top: 20px
       
.nav_subtitle
    width: 85%
    height: 35px
    font-size: 17px
    font-weight: 300
    margin-bottom: 0

.btn_nav
    width: 200px
    height: 50px
    border-radius: 25px
    border: none
    color: white
    background: linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 90%)
    font-size: 15px
    font-weight: 500
    box-shadow: 0px 0px 3px 0px black

.functioning 
    width: 100%

.functioning_text
    width: 50%
    padding-left: 20px

.container_btn
    height: 425px
    display: flex
    justify-content: center
    flex-wrap: wrap
    flex-direction: column
    align-content: center
    
.btn_functioning 
    width: 85%
    height: 70px
    display: flex
    justify-content: space-evenly
    font-size: 16px
    font-weight: 700
    border: none
    border-radius: 12px
    gap: 25px
    padding: 0

.btn_one
    align-items: center

.btn_two
    align-items: center

.btn_three
    align-items: center

.main_title
    width: 50%
    padding-left: 20px
    padding-top: 50px

.restaurants_cards
    width: 100%
    height: 67%
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    gap: 25px

.card
    width: 90%
    height: 270px
    background-color: white
    border-radius: 15px
.card_one
.card_two
.card_three
.card_four
.img_restaurant
    width: 100%
    height: 180px
    border-radius: 15px 15px 0px 0px

.card_info
    width: 100%
    display: flex
    flex-wrap: wrap

.card_title
    width: 45%
    margin: 15px 0px 0px 15px   
    font-size: 18px

.card_subtitle
    width: 50%
    height: 22px 
    margin: 5px 0px 0px 15px
    font-size: 17px
    font-weight: 300

.footer_title
    width: 50%
    font-family: 'Shrikhand'
    color: white
    font-size: 17px
    padding-top: 20px
    margin: 0px 0px 0px 20px

.footer_info
    color: white
    font-size: 15px
    padding-left: 20px

.footer_info__link
    color: white
    text-decoration: none
        
@media only screen and ( min-width:1023px )
    main
        height: 725px

    .fa-location-dot
        width: 40px
    .fa-heart
        width: 100%
    .img_logo
        width: 15%
    .location_text
        width: 100%
        display: flex
        justify-content: center

    .nav
        
    .nav_title
        width: 100%
        font-size: 35px
    .nav_subtitle
        width: 100%
        margin: 0
    
    .functioning_text 
        width: 25%
        display: flex
        justify-content: center

    .container_btn
        width: 100%
        height: 150px
        display: flex
        flex-direction: row
    .btn_functioning 
        width: 25%

    .main_title
        width: 22%
        display: flex
        justify-content: center
    .restaurants_cards
        width: 100%
        height: 50%
    .card
        width: 40%