@use "./base/_fonts"
@use "./base/_normalize"
@use "./components/_buttons"
@use "./components/_icons"
@use "./layout/_footer"
@use "./layout/_header"
@use "./layout/_logo"
@use "./layout/_navigation"
@use "./pages/_cards"
@use "./utils/_keyframes"

.link 
    display: contents
    text-decoration: none
    color: black
.link_restaurant
    text-decoration: none
    color: black
    width: 100%
    display: flex
    justify-content: center
.functioning 
    width: 100%
    height: 380px
.functioning_title
    width: 60%
    margin: 50px 0px 25px 13px
    font-size: 24px
.container_functioning
    height: 280px
    flex-wrap: wrap
    display: flex
    justify-content: space-evenly
    flex-direction: column
    align-content: center
    gap: 20px
.main_title
    width: 50%
    padding-left: 20px
    padding-top: 50px
    font-size: 24px
.card_subtitle
    width: 100%
    height: 22px 
    margin: 5px 0px 0px 15px
    font-size: 17px
    font-weight: 300
.loader_container
    width: 100%
    max-width: 940px
    margin: 0 auto
    position: relative
    text-align: center


.load
    width: 100%
    height: 100%
.col 
    display: block
    float: left
    margin-top: 200px
.container
    width: 100%
    height: 100%
    margin: 0
    position: absolute
    text-align: center
    animation-fill-mode: forwards
.container.finished
    visibility: hidden
.cf:after 
    content: " "
    display: table
.loader
    width: 100px
    height: 100px
    border-radius: 100%
    position: relative
    margin: 0 auto

#loader-1:before, #loader-1:after
    content: ""
    position: absolute
    top: -10px
    left: -10px
    width: 100%
    height: 100%
    border-radius: 100%
    border: 10px solid #EAEAEA
    border-top-color: #9356DC

#loader-1:before
    z-index: 100
    animation: animationLoader 3s forwards

#loader-1:after
    border: 10px solid #ccc




.restaurant_img_page
    width: 100%
.iconArrow
    width: 30px
    height: 30px
    position: absolute
    font-size: 30px
    left: 15px
    top: 15px
.menu
    height: 950px
    position: relative
    top: -50px
    margin-bottom: -50px
    border-radius: 30px 30px 0px 0px 
.menu_container
    width: 100%
    position: absolute
    top: 16px
.title_menu
    width: 75%
    height: 45px
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    font-size: 23px
    font-weight: 400
    font-family: 'Shrikhand'
.heartMenu
    width: 22px
    height: 22px
    font-size: 23px
    position: absolute
    top: 10px
    right: 35px
.card_menu
    width: 100%
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-content: center
    gap: 15px
.card_menu__title
    width: 33px
    border-bottom: 2px solid #99E2D0
    margin: 21px 0px 0px 0px
    font-size: 16px
    font-weight: 300
.menu_choice
    width: 90%
    height: 57px
    border-radius: 14px
    box-shadow: 0px 0px 35px -23px black
    display: flex
    justify-content: center
    flex-direction: column
    position: relative
    background-color: white
.menu_choice__title
    width: 90%
    align-self: center
    font-size: 14px
    margin: 0
.menu_choice__subtitle
    width: 90%
    align-self: center
    font-size: 12px
    font-weight: 300
    margin: 5px 0px 0px 0px
.menu_choice__price
    width: 25px
    height: 15px
    font-size: 13px
    margin: 0
    position: absolute
    right: 15px
    top: 32px
.iconEuro
    width: 8px