
.iconLocation
    width: 25px
    height: 16px
    font-size: 15px
    align-self: center
.iconMobile
    width: 130px
    text-align: center
    font-size: 25px
    color: #7e7e7e
.icon_menu
    width: 130px
    display: flex
    justify-content: center
    align-items: center
    color: #7e7e7e
    font-size: 20px
.iconVerticalPoint
    width: 6px
.iconBars
    width: 18px
.iconStore
    width: 130px
    font-size: 25px
    text-align: center
    color: #9356DC
.iconUtensils
    width: 20px
    height: 20px
.iconHandshake
    width: 20px
    height: 20px
    text-align: start
.fullHeart
    opacity: 0
    background: linear-gradient(180deg, rgba(147,86,220,1) 35%, rgba(255,121,218,1) 90%)
    -webkit-background-clip: text
    color: transparent
.heart_icon
    position: absolute
    right: 70px
    top: 19px
.heart_icon i 
    font-size: 39px
    position: absolute
    top: 0
    left: 0
    transition: opacity 0.3s ease-in-out
.heart_icon:hover i:first-child 
    opacity: 0
.heart_icon:hover i:last-child 
    opacity: 1
    background-clip: text
